.buySellContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column-reverse;
  margin: 20px 0 30px 15%; padding: 0;
}
.askBidContainer, .askOfferContainer {
  width: 300px;
  height: 70px;
  margin: 0;
  border: 2px solid #8A3735;
  background-color: green;

}

.price {
  margin-left: 30%;
}

.askOfferContainer {
  background-color: red;
}

p {
  color: white;
}