<div class="container-fluid">
  <div class="row">
      <div class="col-12">
        <div class="main-container">
          <div class="pairs-container" *ngFor="let coins of coinsPair; index as i">
            <div class="pairsHeader">
              <div class="redRightArrow">></div>
              <div>
                <select class="coinsDropDown"> <!-- [(ngModel)]="selectedCoinsPair" -->
                  <option *ngFor="let coinsSymbols of coins.coins" [value]="coinsSymbols">{{coinsSymbols}}</option>
                </select>
              </div>
              <div class="removeCoinsPair" (click)="removeItem(i)">
                <span>x</span>
              </div>
            </div>
            <div>
                  <select class="dropDown2"><option value="100,000">{{coins.input}}</option></select>
            </div>
            <div class="bidOfferContainer">
              <!-- Bid container (left) -->
              <div (click)="createBidOffer('Bid')">
                <p class="bidOfferButton">Bid</p>
                <p class="bidValue">
                  <!--{{ bidPrice | priceStyling }}--> 
                  {{displayBidPrice1}}<span class="largeDecimalDigits">{{displayBidPrice2}}</span>{{displayBidPrice3}}
                </p>
              </div>

              <!-- Offer container (right) -->
              <div (click)="createBidOffer('Offer')">
                <p class="bidOfferButton">Offer</p>
                <p class="offerValue">
                   {{displayOfferPrice1}}<span class="largeDecimalDigits">{{displayOfferPrice2}}</span>{{displayOfferPrice3}}
              </div>
            </div>
          </div>

          <!-- Green plus button -->
          <div class="addCoinsPair">
            <p (click)="addCoinsPair()">+</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <app-buy-sell></app-buy-sell>
      </div>
      <div class="col-2"></div>
  </div>
</div>
    
     
